{% use 'form_div_layout.html.twig' %}

{# Ten blok jest "korzeniem" dla innych bloków formularza. #}
{%- block form_row -%}
    {# Każdy wiersz formularza (etykieta + pole) jest opakowany w div.form-group #}
    <div class="form-group">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{# Blok dla etykiet pól. Dodajemy klasę .form-label #}
{%- block form_label -%}
    {% if label is not same as(false) -%}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' form-label')|trim}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- label|trans -}}
        {%- if required -%}
            <span class="required" title="To pole jest wymagane">*</span>
        {%- endif -%}
        </label>
    {%- endif -%}
{%- endblock form_label -%}

{# Blok dla błędów walidacji. #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="form-error">
            <ul class="form-error-list">
                {%- for error in errors -%}
                    <li>
                        <i class="fa-solid fa-circle-exclamation"></i>
                        {{ error.message }}
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{# Bloki dla widgetów (pól formularza). Dodajemy im klasę .form-control #}
{%- block form_widget_simple -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{# Blok dla przycisków. Automatycznie dodaje klasy .btn i .btn-primary lub .btn-secondary #}
{%- block button_widget -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' btn')|trim}) -%}
    {%- if label is same as(false) -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-icon')|trim}) -%}
    {%- endif -%}
    {# Domyślnie przycisk submit jest typu 'primary' #}
    {%- if attr.type|default('submit') == 'submit' -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-primary')|trim}) -%}
    {% else %}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-secondary')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock button_widget -%}
