<aside class="app-sidebar">
    <div class="sidebar-header">
        <a href="{{ path('app_cms_home') }}" class="sidebar-brand">{{ app_title }}</a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li>
                <a href="{{ path('app_ticket_list') }}"
                   class="{{ app.request.attributes.get('_route') == 'app_ticket_list' ? 'active' : '' }}">
                    <i class="fa-solid fa-ticket"></i>
                    <span>My tickets</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_ticket_new') }}"
                   class="{{ app.request.attributes.get('_route') == 'app_ticket_new' ? 'active' : '' }}">
                    <i class="fa-solid fa-plus-circle"></i>
                    <span>New ticket</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-book"></i>
                    <span>Knowledge base</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_user_edit') }}"
                   class="{{ app.request.attributes.get('_route') == 'app_user_edit' ? 'active' : '' }}">
                    <i class="fa-solid fa-user"></i>
                    <span>My profile</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="sidebar-footer">
        <a href="{{ path('app_logout') }}">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>
