{% extends 'emails/_layout.html.twig' %}

{% block content %}
    <p>Hello {{ ticketAuthorName }},</p>
    <p>
        Ticket status
        <em>"{{ ticketTitle }}"</em> (#{{ ticketId }}) has been updated by {{ eventAuthorName }}.
    </p>
    <p>
        Old status: <strong>{{ oldStatusLabel }}</strong><br>
        New status: <strong>{{ newStatusLabel }}</strong>
    </p>
    <p style="text-align: center; margin-top: 30px;">
        <a href="{{ url('app_ticket_view', {id: ticketId}) }}" class="button" style="background-color: #007bff;">
            Go to ticket
        </a>
    </p>
{% endblock %}
