{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}
    <div class="card">
        {{ form_start(ticketForm) }}

        {{ form_row(ticketForm.title) }}
        {{ form_row(ticketForm.description) }}
        {{ form_row(ticketForm.equipment) }}

        <div class="form-group" data-controller="attachments-preview">
            {{ form_label(ticketForm.attachments) }}

            <div class="custom-file-upload">
                {{ form_widget(ticketForm.attachments, {'attr': {
                    'class': 'file-input',
                    'data-attachments-preview-target': 'input',
                    'data-action': 'change->attachments-preview#updateList'
                }}) }}

                <label for="{{ ticketForm.attachments.vars.id }}" class="btn btn-secondary">
                    <i class="fa-solid fa-upload"></i> Choose files...
                </label>
            </div>

            <div id="file-list" class="file-list" data-attachments-preview-target="container"></div>

            {{ form_errors(ticketForm.attachments) }}
        </div>

        <div class="form-actions">
            {{ form_row(ticketForm.save) }}
        </div>

        {{ form_end(ticketForm) }}
    </div>
{% endblock %}
